# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
instance/
.pytest_cache/

# dotenv
.env

# VS Code
.vscode/

# Logs
*.log
*.log.*

# Runtime data
/data/*
!/data/用途_*.md
!/data/*/
/data/*/*
!/data/*/用途_*.md

# Others
.DS_Store
